body{
    font-family: "poppins", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #000;
}

h2{
    font-size: 6em;
    font-weight: 500;
    color: black;
    letter-spacing: 5px;
    cursor: pointer;
    text-transform: uppercase;
    transition: 1.0s;
}
h2:hover{
color:rgb(91, 44, 44);
text-shadow: 0 0 5px #03e9f4, 
0 0 25px #03e9f4
0 0 50px #03e9f4
0 0 100px #03e9f4;
}